{include file="public/header" /}
<style>
    body {
        background-color: #f2f3f5;
    }

    .t-demo-title {
        font-size : 16px;
        height : 30px;
        line-height : 30px;
        padding-left : 10px;
    }

    .add_my_name {
        background-color : #e8f4ff;
        padding: 0.3rem 0.3rem;
        color: #439fff;
        border-color: #e8f4ff;
        margin: 0 0.3rem;
        border: none;
        border-radius: 5px;
    }
</style>

<form action="" method="post">
<div class="things">

    <div class="t-group-list t-BT1 thing" data-url="">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH t-FBAC">

                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left"><span>事件</span></div>
                    </div>
                    <div class="t-FB1 t-PR">
                        <div><input class="t-text-field-input" type='text' name="thing" placeholder="事件" required readonly></div>
                        <input type="hidden" name="thing_first_name">
                        <input type="hidden" name="thing_first_name_id">
                    </div>
                    <div class="t-FBH t-FBAC t-field-icon">
                        <div style="display:inline-block;line-height:0;display: none" class="t-icon t-svg t-field-error-icon thing-err0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>

                        <div style="display:inline-block;line-height:0;" class="t-icon t-svg"><div style="position:relative;"><svg name="angle-right" fill="rgba(31,56,88,0.40)" width="20" height="20" viewBox="0 0 24 24"><path d="M10 6L8.6 7.4l4.6 4.6-4.6 4.6L10 18l6-6z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>
                    </div>

                </div>

                <div class="t-field-box t-FBH t-field-tip-box t-field-tip-box-error thing-err1" style="display: none"><div class="t-field-label t-field-layout-h-label t-field-tip-placeholder"><div class="t-field-layout-h-label-left"><span></span></div></div><div class="t-FBH t-FBAC t-LH1_5 t-field-tip">输入有误</div></div>

            </div>
        </div>
    </div>

    <div class="t-group-list t-BT1">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH">
                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left">
                            <span>事件描述</span>
                        </div>
                    </div>
                    <div class="t-FB1 t-PR t-field-multi">
                        <div>
                            <textarea class="t-textarea-field-content" id="desc" name="desc" style="line-height:1.3;padding-top: 12px" placeholder="事件描述" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="t-FBH t-FBAC t-field-icon">
                        <div style="display:inline-block;line-height:0;display: none" class="t-icon t-svg t-field-error-icon desc-err0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>
                    </div>
                </div>

                <div class="t-field-box t-FBH t-field-tip-box t-field-tip-box-error desc-err1" style="display: none"><div class="t-field-label t-field-layout-h-label t-field-tip-placeholder"><div class="t-field-layout-h-label-left"><span></span></div></div><div class="t-FBH t-FBAC t-LH1_5 t-field-tip">输入有误</div></div>
            </div>
        </div>
    </div>

    <div class="t-group-list t-BT1">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH t-FBAC">

                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left"><span>奖扣对象</span></div>
                    </div>
                    <div class="t-FB1 t-PR">
                        <input class='add_my_name' type="button" value="添加本人" id="0">
                    </div>
                    <div class="t-FBH t-FBAC t-field-icon apply-user">
                        <input type='text' name="apply_user" placeholder="添加奖扣对象"  style="border:none;width:7rem;height:30px;" required readonly >
                        <input class="t-text-field-input" type='hidden' name="apply_user_id">
                        <input class="t-text-field-input" type='hidden' name="apply_user_count">

                        <div style="display:inline-block;line-height:0;display: none" class="t-icon t-svg t-field-error-icon apply-user-err0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>

                        <div style="display:inline-block;line-height:0;" class="t-icon t-svg"><div style="position:relative;"><svg name="angle-right" fill="rgba(31,56,88,0.40)" width="20" height="20" viewBox="0 0 24 24"><path d="M10 6L8.6 7.4l4.6 4.6-4.6 4.6L10 18l6-6z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>
                    </div>
                </div>

                <div class="t-field-box t-FBH t-field-tip-box t-field-tip-box-error apply-user-err1" style="display: none"><div class="t-field-label t-field-layout-h-label t-field-tip-placeholder"><div class="t-field-layout-h-label-left"><span></span></div></div><div class="t-FBH t-FBAC t-LH1_5 t-field-tip">输入有误</div></div>
            </div>
        </div>
    </div>

    <div class="t-group-head t-demo-title" style="height: 15px"></div>
    <div class="t-group-head t-demo-title">推荐分数 <span id="code_tjfs">5 - 10</span></div>

    <div class="t-group-list t-BT1 code_jklx">
         <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH t-FBAC">

                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left"><span>奖扣类型</span></div>
                    </div>
                    <div class="t-FB1 t-PR">
                        <div>
                            <input class="t-text-field-input" type='text' name="code_jklx" placeholder="奖扣类型" value="奖分" required readonly>

                            <input type="hidden" name="is_deduct" value="0">
                            <input type="hidden" name="code_a_b"  value="0">
                        </div>
                    </div>
                    <div class="t-FBH t-FBAC t-field-icon">
                        <div style="display:inline-block;line-height:0;" class="t-icon t-svg"><div style="position:relative;"><svg name="angle-right" fill="rgba(31,56,88,0.40)" width="20" height="20" viewBox="0 0 24 24"><path d="M10 6L8.6 7.4l4.6 4.6-4.6 4.6L10 18l6-6z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--C分开关 begin-->
    <div class="t-group-list t-BT1 code_is_begin">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH t-FBAC">

                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left"><span>C分/产值</span></div>
                    </div>
                    <div class="t-FB1 t-PR"></div>
                    <div class="t-FBH t-FBAC t-field-icon">
                        <div class="t-switch" id="is_begin" data-reactid=".1.0.1"><div class="t-switch-back" data-reactid=".1.0.1.0"><div class="t-switch-radius" data-reactid=".1.0.1.0.0"></div></div></div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="t-group-list t-BT1 apply-code">

        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH t-FBAC">

                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left"><span>奖扣分数</span></div>
                    </div>

                    <div style="width: 40px;"><input class="t-text-field-input" type='text' name="code_type" value="D" required readonly></div>

                    <div class="t-FB1 t-PR">
                        <div>
                            <!-- 事件D分分值 -->
                            <input class="rc-input-number-input code-input" value="5" name="apply_code_b">
                        </div>
                    </div>
                    <div class="t-FBH t-FBAC t-field-icon">
                        <div style="display:inline-block;line-height:0;display: none" class="t-icon t-svg t-field-error-icon apply-code-err0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>
                    </div>

                </div>

                <div class="t-field-box t-FBH t-field-tip-box t-field-tip-box-error apply-code-err1" style="display: none"><div class="t-field-label t-field-layout-h-label t-field-tip-placeholder"><div class="t-field-layout-h-label-left"><span></span></div></div><div class="t-FBH t-FBAC t-LH1_5 t-field-tip">输入有误</div></div>
            </div>
        </div>
    </div>
    <!--C分栏目 begin-->
    <div class="t-group-list t-BT1 apply-code2" style="display: none;">

        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH t-FBAC">

                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left"><span></span></div>
                    </div>

                    <div style="width: 40px;"><input class="t-text-field-input" type='text' name="code_type" value="C" required readonly></div>

                    <div class="t-FB1 t-PR">
                        <div>
                            <!-- 事件c分分值 -->
                            <input class="rc-input-number-input code-input" value="5" name="apply_code_c">
                        </div>
                    </div>
                    <div class="t-FBH t-FBAC t-field-icon">
                        <div style="display:inline-block;line-height:0;display: none" class="t-icon t-svg t-field-error-icon apply-code-err0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>
                    </div>

                </div>

                <div class="t-field-box t-FBH t-field-tip-box t-field-tip-box-error apply-code-err1" style="display: none"><div class="t-field-label t-field-layout-h-label t-field-tip-placeholder"><div class="t-field-layout-h-label-left"><span></span></div></div><div class="t-FBH t-FBAC t-LH1_5 t-field-tip">输入有误</div></div>
            </div>
        </div>
    </div>
    <!--C分栏目 end-->
    <div class="t-group-list t-BT1 apply-date">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH t-FBAC">

                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left"><span>奖扣时间</span></div>
                    </div>
                    <div class="t-FB1 t-PR">
                        <div id="apply_date"><input class="t-text-field-input" type='text' name="apply_date" value="<?= date('Y-m-d') ?>" placeholder="奖扣时间" required readonly></div>
                    </div>
                    <div class="t-FBH t-FBAC t-field-icon">
                        <div style="display:inline-block;line-height:0;display: none" class="t-icon t-svg t-field-error-icon apply-date-err0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>

                        <div style="display:inline-block;line-height:0;" class="t-icon t-svg"><div style="position:relative;"><svg name="angle-right" fill="rgba(31,56,88,0.40)" width="20" height="20" viewBox="0 0 24 24"><path d="M10 6L8.6 7.4l4.6 4.6-4.6 4.6L10 18l6-6z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>
                    </div>

                </div>

                <div class="t-field-box t-FBH t-field-tip-box t-field-tip-box-error apply-date-err1" style="display: none"><div class="t-field-label t-field-layout-h-label t-field-tip-placeholder"><div class="t-field-layout-h-label-left"><span></span></div></div><div class="t-FBH t-FBAC t-LH1_5 t-field-tip">输入有误</div></div>
            </div>
        </div>
    </div>

    <div class="t-group-head t-demo-title" style="height: 0.5rem"></div>
</div>

<div class="t-group-list t-BT1 first_user">
    <div class="t-group-list-item">
        <div class="t-field">
            <div class="t-field-box t-field-content-box t-FBH t-FBAC">

                <div class="t-field-label t-field-layout-h-label">
                    <div class="t-field-layout-h-label-left"><span>初审人</span></div>
                </div>
                <div class="t-FB1 t-PR">
                    <div><input class="t-text-field-input" type='text' name="first_user" placeholder="初审人" required readonly></div>
                    <input class="t-text-field-input" type='hidden' name="first_user_id" placeholder="初审人" required readonly>
                </div>
                <div class="t-FBH t-FBAC t-field-icon">
                    <div style="display:inline-block;line-height:0;display: none" class="t-icon t-svg t-field-error-icon first-user-err0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>

                    <div style="display:inline-block;line-height:0;" class="t-icon t-svg"><div style="position:relative;"><svg name="angle-right" fill="rgba(31,56,88,0.40)" width="20" height="20" viewBox="0 0 24 24"><path d="M10 6L8.6 7.4l4.6 4.6-4.6 4.6L10 18l6-6z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>
                </div>

            </div>

            <div class="t-field-box t-FBH t-field-tip-box t-field-tip-box-error first-user-err1" style="display: none"><div class="t-field-label t-field-layout-h-label t-field-tip-placeholder"><div class="t-field-layout-h-label-left"><span></span></div></div><div class="t-FBH t-FBAC t-LH1_5 t-field-tip">输入有误</div></div>
        </div>
    </div>
</div>

<div class="t-group-list t-BT1 end_user">
    <div class="t-group-list-item">
        <div class="t-field">
            <div class="t-field-box t-field-content-box t-FBH t-FBAC">

                <div class="t-field-label t-field-layout-h-label">
                    <div class="t-field-layout-h-label-left"><span>终审人</span></div>
                </div>
                <div class="t-FB1 t-PR">
                    <div><input class="t-text-field-input" type='text' name="end_user" placeholder="终审人" required readonly></div>
                    <input class="t-text-field-input" type='hidden' name="end_user_id" placeholder="终审人" required readonly>
                </div>
                <div class="t-FBH t-FBAC t-field-icon">
                    <div style="display:inline-block;line-height:0;display: none" class="t-icon t-svg t-field-error-icon end-user-err0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>

                    <div style="display:inline-block;line-height:0;" class="t-icon t-svg"><div style="position:relative;"><svg name="angle-right" fill="rgba(31,56,88,0.40)" width="20" height="20" viewBox="0 0 24 24"><path d="M10 6L8.6 7.4l4.6 4.6-4.6 4.6L10 18l6-6z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>
                </div>

            </div>

            <div class="t-field-box t-FBH t-field-tip-box t-field-tip-box-error end-user-err1" style="display: none"><div class="t-field-label t-field-layout-h-label t-field-tip-placeholder"><div class="t-field-layout-h-label-left"><span></span></div></div><div class="t-FBH t-FBAC t-LH1_5 t-field-tip">输入有误</div></div>
        </div>
    </div>
</div>

<div style="padding-top: 20px">
    <div class="t-button t-button-primary t-button-normal t-button-size-medium" id="subbtn"><span>提交</span></div>
</div>

</form>

<div class="modal fade" id="thingsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="t-search-bar zh-cn active" id="event-search" style="display: none">
                    <div class="t-search-bar-wrapper">
                        <div class="t-search-bar-box">
                            <div class="t-search-bar-holder-wrapper">
                                <div class="t-search-bar-holder">
                                    <div style="display:inline-block;line-height:0;" class="t-icon t-svg t-search-bar-icon-search">
                                        <div style="position:relative;"><svg width="20" height="20" fill="#bcbcbc" name="" viewBox="0 0 1024 1024"><path d="M741.216 695.968l192.896 192.864a31.968 31.968 0 1 1-45.28 45.28L695.968 741.216A382.464 382.464 0 0 1 448 832C235.936 832 64 660.064 64 448S235.936 64 448 64s384 171.936 384 384c0 94.528-34.144 181.056-90.784 247.968zM448 768c176.736 0 320-143.264 320-320S624.736 128 448 128 128 271.264 128 448s143.264 320 320 320z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div>
                                        </div>
                                    </div>
                                    <span class="t-omit t-search-bar-placeholder"><input style="background-color: #FFFFFF" type="search" class="t-search-bar-input" placeholder="搜索" id="event-search-input"></span>
                                </div>
                            </div>
                            <div style="display:inline-block;line-height:0;" class="t-icon t-svg t-search-bar-icon-cross">
                                <div style="position:relative;"><svg width="20" height="20" fill="#bcbcbc" name="" viewBox="0 0 1024 1024"><path d="M557.248 512l158.56-158.528a31.904 31.904 0 0 0-.16-45.12 31.808 31.808 0 0 0-45.12-.16L512 466.752 353.472 308.16a31.904 31.904 0 0 0-45.12.16 31.808 31.808 0 0 0-.16 45.12L466.752 512 308.16 670.528a31.904 31.904 0 0 0 .16 45.12 31.808 31.808 0 0 0 45.12.16L512 557.248l158.528 158.56a31.904 31.904 0 0 0 45.12-.16 31.808 31.808 0 0 0 .16-45.12L557.248 512zM512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div>
                            </div>
                        </div>
                        <span class="t-search-bar-btn" id="event-search-btn">搜索</span>
                    </div>
                </div>

                <div class="t-notice-bar noticeMessage" id="event-temporary" style="display: none">
                    <div class="t-FBH t-notice-bar-content notice-info">
                        <div class="notice-icon"><div style="display:inline-block;line-height:0;" class="t-icon t-svg icon-custom-class"><div style="position:relative;"><svg width="18" height="18" fill="#fff" name="" viewBox="0 0 24 24"><path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div></div>
                        <span class="notice-content-message">点击此处用作临时事件</span>
                    </div>
                </div>

                <div class="t-tab-wrap t-PR t- t-tab-pan-bugfix">
                    <div class="t-tab t-tab-top">
                        <div role="tablist" class="t-tab-bar" tabindex="0">
                            <div style="width: 20px; display: block; transform: translate3d(41.5px, 0px, 0px);" class="t-tab-ink-bar t-tab-ink-bar-animated thing-first-title-active"></div>
                            <div role="tab" aria-disabled="false" aria-selected="true" class="t-tab-tab-active t-tab-tab thing-first-title">一级事件库</div>
                            <div style="width: 20px; display: block; transform: translate3d(155px, 0px, 0px); display: none" class="t-tab-ink-bar t-tab-ink-bar-animated thing-second-title-active"></div>
                            <div role="tab" aria-disabled="false" aria-selected="false" class="t-tab-tab thing-second-title"></div>
                            <div role="tab" aria-disabled="false" aria-selected="false" class="t-tab-tab"></div>
                        </div>
                    </div>
                </div>

                <div style="height: 400px; overflow-y: auto">
                    <div class="t-group-list t-BT1 thing-desc">
                        {if condition="(!empty($Events_list))"}
                            {volist name="Events_list" id="val"}
                            <div class="t-group-list-item">
                                <div class="t-LH44 thing-first" data="{$val.id}">{$val.name}</div>
                            </div>
                            {/volist}
                        {else /}
                        {/if}                        

                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<script>
    var _config = {$config};
    var user    = {$userinfo};
</script>
<script type="text/javascript" src="/static/dingding/config.js"></script>
<script type="text/javascript" src="/static/logger.js"></script>
<script>

dd.ready(function() {

        $('.apply-user').on('click', function() {
                $(".add_my_name").css({"background-color":"#e8f4ff","color":"#439fff"});
                $(".add_my_name").val("添加本人");
                $(".add_my_name").attr("id","0");
                dd.biz.contact.complexPicker({
                    title                : '奖扣对象',       //标题
                    corpId               : _config.corpid,  //企业的corpId
                    multiple             : true,            //是否多选
                    limitTips            : '最多选择20人',   //超过限定人数返回提示
                    maxUsers             : 20,              //最大可选人数
                    pickedUsers          : [],              //已选用户
                    pickedDepartments    : [],              //已选部门
                    disabledUsers        : [],              //不可选用户
                    disabledDepartments  : [],              //不可选部门
                    requiredUsers        : [],              //必选用户（不可取消选中状态）
                    requiredDepartments  : [],              //必选部门（不可取消选中状态）
                    appId                : _config.agentid, //微应用的Id
                    permissionType       : 'GLOBAL',        //选人权限，目前只有GLOBAL这个参数
                    responseUserOnly     : true,            //返回人，或者返回人和部门
                    startWithDepartmentId: 0,               // 0表示从企业最上层开始
                    onSuccess            : function (result) {
                        $('input[name=\'apply_user_count\']').val(result.selectedCount)
                        if (result.selectedCount <= 1) {
                            $('input[name=\'apply_user\']').val(result.users[0].name)
                            $('input[name=\'apply_user_id\']').val(JSON.stringify(result.users))
                        } else {
                            $('input[name=\'apply_user\']').val(result.users[0].name + '等' + result.selectedCount + '人')
                            $('input[name=\'apply_user_id\']').val(JSON.stringify(result.users))
                        }
                    },
                    onFail               : function (err) {
                        alert('err: ' + JSON.stringify(err))
                    }
                })
        })

        $('.first_user').click(function () {
                dd.biz.contact.complexPicker({
                    title                : '初审人',          //标题
                    corpId               : _config.corpid,   //企业的corpId
                    multiple             : false,            //是否多选
                    limitTips            : '最多选择1人',     //超过限定人数返回提示
                    maxUsers             : 1,                //最大可选人数
                    pickedUsers          : [],               //已选用户
                    pickedDepartments    : [],               //已选部门
                    disabledUsers        : [],               //不可选用户
                    disabledDepartments  : [],               //不可选部门
                    requiredUsers        : [],               //必选用户（不可取消选中状态）
                    requiredDepartments  : [],               //必选部门（不可取消选中状态）
                    appId                : _config.agentid,  //微应用的Id
                    permissionType       : 'GLOBAL',         //选人权限，目前只有GLOBAL这个参数
                    responseUserOnly     : true,             //返回人，或者返回人和部门
                    startWithDepartmentId: 0,                // 0表示从企业最上层开始
                    onSuccess            : function (result) {
                        $('input[name=\'first_user\']').val(result.users[0].name)
                        $('input[name=\'first_user_id\']').val(result.users[0].emplId)
                    },
                    onFail               : function (err) {
                        alert('err: ' + JSON.stringify(err))
                    }
                })
        })

        $('.end_user').click(function () {
                dd.biz.contact.complexPicker({
                    title                : '终审人',         //标题
                    corpId               : _config.corpid,  //企业的corpId
                    multiple             : false,           //是否多选
                    limitTips            : '最多选择1人',    //超过限定人数返回提示
                    maxUsers             : 1,               //最大可选人数
                    pickedUsers          : [],              //已选用户
                    pickedDepartments    : [],              //已选部门
                    disabledUsers        : [],              //不可选用户
                    disabledDepartments  : [],              //不可选部门
                    requiredUsers        : [],              //必选用户（不可取消选中状态）
                    requiredDepartments  : [],              //必选部门（不可取消选中状态）
                    appId                : _config.agentid, //微应用的Id
                    permissionType       : 'GLOBAL',        //选人权限，目前只有GLOBAL这个参数
                    responseUserOnly     : true,            //返回人，或者返回人和部门
                    startWithDepartmentId: 0,               // 0表示从企业最上层开始
                    onSuccess            : function (result) {
                        $('input[name=\'end_user\']').val(result.users[0].name)
                        $('input[name=\'end_user_id\']').val(result.users[0].emplId)
                    },
                    onFail               : function (err) {
                        alert('err: ' + JSON.stringify(err))
                    }
                })
        })  

        $(".add_my_name").click(function()
        {
            var is_add = $(this).attr("id");
            if(is_add == 0)
            {
                $('input[name=\'apply_user_count\']').val(1);
                $('input[name=\'apply_user\']').val(user.name);
                var user_list = '['+'{'+"\"name\":\""+user.name+"\",\"emplId\":\""+user.dd_id+'\"}'+']';
                $('input[name=\'apply_user_id\']').val(user_list);
                $(this).css({"background-color":"#439fff","color":"white"});
                $(this).val("已添加本人");
                $(this).attr("id","1");
            }else if(is_add == 1)
            {
                $('input[name=\'apply_user_count\']').val("");
                $('input[name=\'apply_user\']').val("");
                $('input[name=\'apply_user_id\']').val("");
                $(this).css({"background-color":"#e8f4ff","color":"#439fff"});
                $(this).val("添加本人");
                $(this).attr("id","0");
            }
        })

        /*C分开关*/
        $("#is_begin").click(function()
        {
            var is_has = $(this).hasClass("active");
            if(is_has == true)
            {
                $(this).removeClass("active");
                $(".apply-code2").css("display","none");
            }else
            {
                $(this).addClass("active");
                $(".apply-code2").css("display","block");
            }
        })     

        //奖扣时间
        $('.apply-date').click(function () {
            var now      = new Date()
            var nowYear  = now.getFullYear()
            var nowMonth = now.getMonth() + 1
            var nowDay   = now.getDate()
            var time     = nowYear + '-' + nowMonth + '-' + nowDay
            dd.ready(function () {
                dd.biz.util.datepicker({
                    format   : 'yyyy-MM-dd',
                    value    : time, // 默认显示日期
                    onSuccess: function (result) {
                        $('input[name=\'apply_date\']').val(result.value)
                    }, onFail: function (err) {
                        alert(JSON.stringify(err))
                    }
                })
            })
        })

        //奖扣类型
        $('.code_jklx').click(function () {
            var code_jklx = $("input[name='code_jklx']").val();
            dd.ready(function () {
                dd.biz.util.chosen({
                    source:[{
                        key: '奖分', //显示文本
                        value: '0' //值，
                    },{
                        key: '扣分',
                        value: '1'
                    }],
                    selectedKey:code_jklx , // 默认选中的key
                    onSuccess : function(result) {
                        $('input[name=\'code_jklx\']').val(result.key)
                        $('input[name=\'is_deduct\']').val(result.value)
                    },
                    onFail : function(err) {}
                })
            })
        })

        //显示一级事件
        $('.thing').click(function () {
            $('#thingsModal').modal('show')
        })
        //二级事件库
        $(document).on('click', '.thing-first', function () {
            var name = $(this).html();
            var id   = $(this).attr("data");
            $('#event-temporary').hide();
            $('input[name=\'thing_first_name\']').val(name)
            $('.thing-second-title').html('二级事件库')
            $('.thing-first-title-active').hide()
            $('.thing-second-title-active').show()
            $('.thing-first-title').removeClass('t-tab-tab-active')
            $('.thing-second-title').addClass('t-tab-tab-active')

            $('#event-search').css('display', 'block')

            var getRequest = {
                url     : '/get_events',
                type    : 'POST',
                data    : {id: id},
                dataType: 'json',
                success : function (response) {
                    
                    if (response.errcode == 0) {
                        var ht = ''
                        var event_data = response.data;
                        for(var key in event_data){
                            ht = ht + '<div class="t-group-list-item">\n' +
                                      '<div class="t-LH44 thing-second" data="'+event_data[key].id+'">' + event_data[key].name +'</div>\n' +
                                      '</div>'                            
                        }
                        $('.thing-desc').html(ht)
                        $('input[name=\'thing_first_name_id\']').val(id)
                    } else {
                        alert(JSON.stringify(response))
                    }
                },
                error   : function (err) {
                    alert(JSON.stringify(err))
                }
            }
            $.ajax(getRequest)
        })

        $('.thing-first-title').click(function () {
            $('#event-temporary').hide();
            $('.thing-second-title').html('')
            $('.thing-first-title-active').show()
            $('.thing-second-title-active').hide()
            $('.thing-first-title').addClass('t-tab-tab-active')
            $('.thing-second-title').removeClass('t-tab-tab-active')
            $('#event-temporary').hide();
            $('#event-search').css('display', 'none')

            var getRequest = {
                url     : '/get_events',
                type    : 'GET',
                data    : {id: "0"},
                dataType: 'json',
                success : function (response) {
                    if (response.errcode == 0) {
                        var ht = ''
                        var event_data = response.data;
                        for(var key in event_data){
                            ht = ht + '<div class="t-group-list-item">\n' +
                                      '<div class="t-LH44 thing-first" data="'+ event_data[key].id +'">' + event_data[key].name +'</div>\n' +
                                      '</div>'                            
                        }
                        $('.thing-desc').html(ht)
                    } else {
                        alert(JSON.stringify(response))
                    }
                },
                error   : function (err) {
                    alert(JSON.stringify(err))
                }
            }
            $.ajax(getRequest)
        })

        $('#event-search-btn').click(function () {
            var searchText = $('#event-search-input').val();
            var thing_first_name_id = $('input[name=\'thing_first_name_id\']').val();
            var getRequest = {
                url     : '/get_events',
                type    : 'POST',
                data    : {id: thing_first_name_id, name: searchText},
                dataType: 'json',
                success : function (response) {
                    if (response.errcode == 0) {
                        if ($.isEmptyObject(response.data)) {
                            $('.thing-desc').html('')
                            $('#event-temporary').css('display', 'block')
                        } else {
                            var ht = ''
                            var event_data = response.data;
                            for(var key in event_data){
                                ht = ht + '<div class="t-group-list-item">\n' +
                                          '<div class="t-LH44 thing-second" data="'+event_data[key].id+'">' + event_data[key].name +'</div>\n' +
                                          '</div>'                            
                            }
                            $('.thing-desc').html(ht)
                            $('#event-temporary').css('display', 'none')
                        }
                    } else {
                        alert(JSON.stringify(response))
                    }
                },
                error   : function (err) {
                    alert(JSON.stringify(err))
                }
            }
            $.ajax(getRequest)
        })
        $('.thing-desc').on('click', '.thing-second', function () {
            var name = $(this).html();
            var id   = $(this).attr("data");
            var getRequest = {
                url     : '/events_info',
                type    : 'POST',
                data    : {id: id},
                dataType: 'json',
                success : function (response) {

                        if (response.errcode == 0) {

                            var events_info = response.data;

                            if (events_info.is_deduct == 1) {

                                $('input[name=\'code_jklx\']').val('扣分')
                                $('input[name=\'is_deduct\']').val('1')

                            } else {

                                $('input[name=\'code_jklx\']').val('奖分')
                                $('input[name=\'is_deduct\']').val('0')

                            }
                            
                            $('input[name=\'apply_code\']').val(Math.abs(events_info.min_b));
                            $('#code_tjfs').text(events_info.min_b + ' - ' + events_info.max_b);
                            $('input[name=\'apply_code_b\']').val(events_info.min_b);   //获取事件分数D
                            $('input[name=\'apply_code_c\']').val(events_info.min_b);   //获取事件分数C
                        }else{

                            alert(JSON.stringify(response));

                        }
                },
                error   : function (err) {
                   alert(JSON.stringify(err))
                }
            }
            $.ajax(getRequest)

            $('input[name=\'thing\']').val(name)
            $('#thingsModal').modal('hide')
        })

        /*临时事件处理*/
        $('#event-temporary').click(function () {
            var name = $('#event-search-input').val()
            $('input[name=\'thing\']').val(name)
            $('#thingsModal').modal('hide')
        })

        //获取数据
        $('#subbtn').click(function () {

            var is_c  = $("#is_begin").hasClass("active");
            var first = $('input[name=\'thing_first_name\']').val();      //获取一级事件信息
            var thing = $('input[name=\'thing\']').val();                 //获取二级事件信息
            if(!first || !thing)
            {
                    dtoast('error', '事件信息不能为空');
                    return false;
            }            
            var desc  = $('#desc').val();                                 //获取事件描述

            var apply_user = $('input[name=\'apply_user\']').val();       //获取奖扣对象
            var userlist   = $('input[name=\'apply_user_id\']').val();    //奖扣对象列表
            if(!apply_user)
            {
                    dtoast('error', '请选择奖扣对象');
                    return false;
            }
            var apply_code_b = $('input[name=\'apply_code_b\']').val();   //获取事件分数D
            var apply_code_c = $('input[name=\'apply_code_c\']').val();   //获取事件分数C
            
            var apply_date = $('input[name=\'apply_date\']').val();       //获取事件提交日期

            var first_user = $('input[name=\'first_user\']').val();       //获取事件初审人
            var end_user   = $('input[name=\'end_user\']').val();         //获取事件终审人
            if(!first_user)
            {
                    dtoast('error', '请选择初审人');
                    return false;
            }
            if(!end_user)
            {
                    dtoast('error', '请选择终审人');
                    return false;
            } 
            if(end_user == first_user)
            {
                    dtoast('error', '初审人和终审人不能为一人');
                    return false;
            }                        
            var first_user_id = $('input[name=\'first_user_id\']').val(); 
            var end_user_id   = $('input[name=\'end_user_id\']').val();
           
            var is_deduct  = $('input[name=\'is_deduct\']').val();        //获取事件奖扣类型
            //检测c分是否提交
            var is_has = $(this).hasClass("active");
            if(is_has == true)
            {
                if(apply_code_b == "0"){
                    dtoast('error', 'D分 不能为0');
                    return false;
                }
                if(apply_code_c == "0"){
                    dtoast('error', 'C分 不能为0');
                    return false;
                }                
            }
            else
            {
                if(apply_code_b == "0"){
                    dtoast('error', 'D分 不能为0');
                    return false;
                }
            }

            var send = {first:first,thing:thing,desc:desc,userlist:userlist,apply_code_b:apply_code_b,apply_date:apply_date,first_user:first_user_id,end_user:end_user_id,is_deduct:is_deduct}
            var senddata={event_name:first+':'+thing,event_user_name:userlist,apply_code_b:apply_code_b,first_user_name:first_user,end_user_name:end_user,user_object:first_user_id,is_deduct:is_deduct}

            if(is_c){
               send.is_c = 1;
               send.apply_code_c = apply_code_c;
               senddata.is_c = 1;
               senddata.apply_code_c = apply_code_c;
            }else{
               send.is_c = 0;
               senddata.is_c = 0;
            }

            dd.ready(function() {
                dd.device.notification.showPreloader({
                    text     : '事件提交中',
                    showIcon : true,
                    onSuccess: function (result) {
                        sync_begin();
                    },
                    onFail   : function (err) {}
                }) 
            }) 
          
            $.post("/BuckleInsert",send,function(data,status,xhr){
                  var data = $.parseJSON( data );
                  if(data.errmsg == "OK"){
                    $.post("/Sendmsg",senddata,function(data,status,xhr){
                        var res = $.parseJSON( data );

                        if(res.errcode == "0"){
                            dd.ready(function() {
                                dd.device.notification.hidePreloader({
                                    onSuccess: function (result) {},
                                    onFail   : function (err) {}
                                })
                            })                            
                            window.location.href="/mytrial?dd_nav_bgcolor=FF5E97F6";
                        }
                    });                     
                  }
            });

        })

    function dtoast (icon, text) {

            dd.device.notification.toast({
                icon     : icon,          //icon样式，有success和error，默认为空 0.0.2
                text     : text,          //提示信息
                duration : 2,             //显示持续时间，单位秒，默认按系统规范[android只有两种(<=2s >2s)]
                delay    : 0,             //延迟显示，单位秒，默认0
                onSuccess: function (result) {},
                onFail   : function (err) {}
            })

    }    
})    
</script>
