<style>
    body {
        background-color: #f2f3f5;
    }
    .t-icon-mask{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
</style>

<form action="/follow" method="post">

    <div class="things">
        <div class="t-group-list t-BT1">
            <div class="t-group-list-item">
                <div class="t-field">
                    <div class="t-field-box t-field-content-box t-FBH t-FBAC">
                        <div class="t-field-label t-field-layout-h-label">
                            <div class="t-field-layout-h-label-left" style="width: 150px;">送<span style="color: dodgerblue;">{$name}</span>{$likes_quota_c}分</div>
                            <input type="hidden" name="like_id" value="{$like_id}">
                            <input type="hidden" name="like_name_id" value="{$like_name_id}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="t-group-list t-BT1">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH">
                    <div class="t-FB1 t-PR t-field-multi">
                        <div>
                            <textarea class="t-textarea-field-content" id="desc" name="desc" style="line-height:1.3;padding-top: 12px" placeholder="一赞赠币" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="t-FBH t-FBAC t-field-icon">
                        <div style="display:inline-block;line-height:0;display: none" class="t-icon t-svg t-field-error-icon desc-err0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>
                    </div>
                </div>
                <div class="t-field-box t-FBH t-field-tip-box t-field-tip-box-error desc-err1" style="display: none"><div class="t-field-label t-field-layout-h-label t-field-tip-placeholder"><div class="t-field-layout-h-label-left"><span></span></div></div><div class="t-FBH t-FBAC t-LH1_5 t-field-tip">输入有误</div></div>

            </div>
        </div>
    </div>
    </div>

    <div style="padding-top: 20px" id="submit">
        <div class="t-button t-button-primary t-button-normal t-button-size-medium"><span>跟赞</span></div>
    </div>

</form>


<script>
    $(function () {
        $('#submit').click(function () {
                $('form').submit();
        })
    })
</script>