{include file="public/header" /}
<form action="/insertaaa" method="post">

    <div class="t-group-list-item apply-user">
        <div class="t-field">
            <div class="t-field-box t-field-content-box t-FBH t-FBAC">
                <div class="t-field-label t-field-layout-h-label">
                    <div class="t-field-layout-h-label-left"  id="Choice"><span>受赞赏人</span></div>
                </div>
                <div class="t-FB1 t-PR">
                    <div><input class="t-text-field-input" type='text' name="apply_user" placeholder="" required readonly></div>
                    <input class="t-text-field-input" type='hidden' name="apply_user_id" placeholder="被赞人" required readonly>
                </div>
                <div class="t-FBH t-FBAC t-field-icon">
                    <div style="line-height:0;display: none" class="t-icon t-svg t-field-error-icon apply_user0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div class="t-icon-mask"></div></div></div>

                    <div style="display:inline-block;line-height:0;" class="t-icon t-svg"><div style="position:relative;"><svg name="angle-right" fill="rgba(31,56,88,0.40)" width="20" height="20" viewBox="0 0 24 24"><path d="M10 6L8.6 7.4l4.6 4.6-4.6 4.6L10 18l6-6z"></path></svg><div class="t-icon-mask"></div></div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="t-group-list">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH t-FBAC">
                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left"><span>赞赏数量</span></div>
                    </div>
                    <div class="t-FB1 t-PR"></div>
                    <div class="t-FBH t-FBAC t-field-icon">
                        <div class="t-text-field-content">
                            <div class="t-text-field-content-main">
                                <input class="t-text-field-input" type="number" name="code" value="" placeholder="可赞赏 {$balance} 福分">
                            </div>
                            <div style="line-height:0;display: none" class="t-icon t-svg t-field-error-icon code-err0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div class="t-icon-mask"></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="t-group-list t-BT1">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH">
                    <div class="t-field-label" style="padding: 11px 20px 11px 0;width: 65px;line-height: 24px;">
                        <div class="t-field-layout-h-label-left">
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="t-FB1 t-PR t-field-multi">
                        <div class="t-textarea-field-content"  style="line-height:1.3;padding-top: 12px" placeholder="" rows="5">
                        {if condition="(!empty($list))"}
                            {volist name="list" id="val"}
                                <input  class="label t-button t-button-secondary t-button-size-medium" style="margin-bottom: 1rem;" type="button" value="{$val.name}">
                            {/volist}
                        {else /}
                        {/if}
                        </div>
                        <input type="hidden" name="label" id="label_hidden" value=""></div>
                        <div style="display:inline-block;line-height:0;display: none" class="t-icon t-svg t-field-error-icon label-err0"><div style="position:relative;"><svg name="" width="32px" height="32px" fill="#000" viewBox="0 0 1024 1024"><path d="M512 960C264.576 960 64 759.424 64 512S264.576 64 512 64s448 200.576 448 448-200.576 448-448 448zm-32-287.68v63.36a32 32 0 1 0 64 0v-63.36a32 32 0 1 0-64 0zm0-384.48v256.32c0 17.28 14.336 31.84 32 31.84 17.792 0 32-14.272 32-31.84V287.84c0-17.28-14.336-31.84-32-31.84-17.792 0-32 14.272-32 31.84z"></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask"></div></div></div>
                    </div>

                <div class="t-FBH t-FBAC t-field-icon"></div>
            </div>
        </div>
    </div>
    <div class="t-group-list t-BT1">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH">
                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left">
                            <span>赞赏理由</span>
                        </div>
                    </div>
                    <div class="t-FB1 t-PR t-field-multi">
                        <div>
                            <textarea class="t-textarea-field-content" id="desc" name="desc" style="line-height:1.3;padding-top: 12px" placeholder="" rows="5"></textarea>
                            <div style="color: #C8C8C8;">剩余<span id="textCount">200</span>个字</div>
                        </div>
                    </div>
                    <div class="t-FBH t-FBAC t-field-icon">
                    </div>
                </div>
                <div class="t-field-box t-FBH t-field-tip-box t-field-tip-box-error desc-err1" style="display: none"><div class="t-field-label t-field-layout-h-label t-field-tip-placeholder"><div class="t-field-layout-h-label-left"><span></span></div></div><div class="t-FBH t-FBAC t-LH1_5 t-field-tip">输入有误</div></div>
            </div>
        </div>
    </div>
    <div style="padding-top: 20px" id="submit">
        <div class="t-button t-button-primary t-button-normal t-button-size-medium"><span>赞赏</span></div>
    </div>
</form>
<script type="text/javascript">
    var  _config ={$config};
    var  user_id ={$user_id};
</script>
<script type="text/javascript" src="/static/dingding/config.js"></script>
<script type="text/javascript" src="/static/logger.js"></script>
<script>
dd.ready(function() {
    $('.apply-user').on('click', function() {
        dd.biz.contact.complexPicker({
            title:"被赞赏的人",            //标题
            corpId:_config.corpId,              //企业的corpId
            multiple:false,            //是否多选
            maxUsers:1000,            //最大可选人数
            appId:_config.agentid,              //微应用的Id
            responseUserOnly:false,        //返回人，或者返回人和部门
            startWithDepartmentId:0 ,   // 0表示从企业最上层开始，IOS不支持该字段
            onSuccess: function(result) {
                var user = result.users;
                $('input[name=\'apply_user\']').val(user[0].name)
                $('input[name=\'apply_user_id\']').val(user[0].emplId)              
            },
           onFail : function(err) {
           }
        })
    })

    $('.label').click(function () {
        $('.label').css('background-color', 'white')
        $('.label').css('color', '#38adff')
        var obj         = $(this)
        var check_label = obj.val()
        $('#label_hidden').val(check_label)
        obj.css('background-color', '#38adff')
        obj.css('color', '#fff')
    })
        $('#submit').click(function () {
            var apply_user = $('input[name=\'apply_user\']').val();
            var code       = $('input[name=\'code\']').val();
            var label      = $('input[name=\'label\']').val();
            var desc       = $('#desc').val();
            var apply_user_id = $('input[name=\'apply_user_id\']').val();
            if (apply_user_id == user_id.userid) {
                 dtoast('error', '自己不能给自己点赞')
            }else if(code < user_id.FabulousSet){
                 dtoast('error', '赞赏分不得低于最低限额'+user_id.FabulousSet+"福分");
            }else if(user_id.balance == 0 || code > user_id.balance){
                 dtoast('error', '福分不足')
            }else{
                if (apply_user == '') {
                    $('.apply_user0').css('display', 'inline-block')
                } else {
                    $('.apply_user0').css('display', 'none')
                }

                if (code == '') {
                    $('.code-err0').css('display', 'inline-block')
                } else {
                    $('.code-err0').css('display', 'none')
                }

                if (label == '') {
                    $('.label-err0').css('display', 'inline-block')
                } else {
                    $('.label-err0').css('display', 'none')
                }

                if (desc == '') {
                    $('.desc-err0').css('display', 'inline-block')
                    $('.desc-err1').css('display', 'flex')
                } else {
                    $('.desc-err0').css('display', 'none')
                    $('.desc-err1').css('display', 'none')
                }

                if (apply_user == '' || code == '' || label == '' || desc == '') {
                    dtoast('error', '输入有误');
                    return
                }

                $('form').submit()
           }

        })
    function dtoast (icon, text) {
        dd.ready(function () {
            dd.device.notification.toast({
                icon     : icon, //icon样式，有success和error，默认为空 0.0.2
                text     : text, //提示信息
                duration : 2, //显示持续时间，单位秒，默认按系统规范[android只有两种(<=2s >2s)]
                delay    : 0, //延迟显示，单位秒，默认0
                onSuccess: function (result) {},
                onFail   : function (err) {}
            })
        })
    }    
})    
</script>

