<link rel="stylesheet" type="text/css" href="/static/css/detail.css"/>

<div class="card-wrap">
    <div class="t-card card-sence">
        <div class="t-card-header">
            <div class="t-avatar" style="width:40px;height:40px;line-height:40px;font-size:14px;position:relative;background-color:#5EC9F6;">{:splitName($user[$data['create_user_id']]['name'])[1]}</div>
<!--            <img class="card-avatar" src="https://work.alibaba-inc.com/photo/WB217531.jpg?" alt="avatar">-->
            <div class="card-header-text"><span class="card-username">{$user[$data['create_user_id']]['name']}</span><span class="card-date">{$data['create_date']}</span></div>
        </div>
        <div class="t-card-body">
            <div class="card-title">{$data['event_name']}</div>
            <p class="card-desc">{$data['event_desc']}</p>
        </div>
        <div class="t-card-footer">
            <div class="card-footer-meta">
                <span class="card-footer-meta-item">
                    <span class="card-eye-count">{$data['date']}</span>
                </span>
                <span class="card-footer-meta-item">
                    <span class="card-like-count"></span>
                </span>
            </div>
            <div class="card-footer-extra" {if condition="($data.status == 2)"} style="color: #5EC9F6"{/if}>{:Mytrial_Status($data.status)}</div>
        </div>
    </div>
</div>

<div class="t-group-head t-demo-title" style="height: 0.5rem"></div>
<div class="t-group-head t-demo-title">奖扣对象</div>


{volist name="userlist" id="val"}
<div class="t-group-list t-BT1">
    <div class="t-group-list-item">
        <div class="t-field">
            <div class="t-field-box t-field-content-box t-FBH t-FBAC">
                <div class="t-field-label t-field-layout-h-label">
                    <div class="t-field-layout-h-label-left"><span>{$val['name']}</span></div>
                </div>
                <div class="t-FB1 t-PR">
                    {if condition="($val['code_b'])"}
                    <div id="code_D" data="{$val['code_b']}">D分&nbsp{:code($val['code_b'])}</div>
                    {/if}
                    {if condition="($val['code_c'])"}
                    <div id="code_C" data="{$val['code_c']}">C分&nbsp{:code($val['code_c'])}</div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
{/volist}


<div class="t-group-head t-demo-title" style="height: 0.5rem"></div>

<div class="t-group-list t-BT1">
    <div class="t-group-list-item">
        <div class="t-field">
            <div class="t-field-box t-field-content-box t-FBH t-FBAC">
                <div class="t-field-label t-field-layout-h-label">
                    <div class="t-field-layout-h-label-left"><span>初审</span></div>
                </div>
                <div class="t-FB1 t-PR">
                    <div>{$user[$data['first_user_id']]['name']}</div>
                </div>
            </div>
        </div>
    </div>
</div>

{if condition="($data.first_remark)"}
    <div class="t-group-list t-BT1">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH">
                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left">
                            <span>审批意见</span>
                        </div>
                    </div>
                    <div class="t-FB1 t-PR t-field-multi">
                        <div>
                            <textarea class="t-textarea-field-content" style="line-height:1.3;padding-top: 12px" placeholder="审批意见" rows="5" 
                            {if condition="($data.first_remark)"} readonly {/if}>{$data.first_remark}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/if}

<div class="t-group-list t-BT1">
    <div class="t-group-list-item">
        <div class="t-field">
            <div class="t-field-box t-field-content-box t-FBH t-FBAC">
                <div class="t-field-label t-field-layout-h-label">
                    <div class="t-field-layout-h-label-left"><span>终审</span></div>
                </div>
                <div class="t-FB1 t-PR">
                    <div>{$user[$data['end_user_id']]['name']}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{if condition="($data.end_remark)"}
    <div class="t-group-list t-BT1">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH">
                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left">
                            <span>审批意见</span>
                        </div>
                    </div>
                    <div class="t-FB1 t-PR t-field-multi">
                        <div>
                            <textarea class="t-textarea-field-content" style="line-height:1.3;padding-top: 12px" placeholder="审批意见" rows="5">{$data.end_remark}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/if}

{php} if( ($data['first_user_id'] == $userid && $data['status'] == 0) || ($data['end_user_id'] == $userid && $data['status'] == 1) ){ {/php}

    <div class="t-group-list t-BT1">
        <div class="t-group-list-item">
            <div class="t-field">
                <div class="t-field-box t-field-content-box t-FBH">
                    <div class="t-field-label t-field-layout-h-label">
                        <div class="t-field-layout-h-label-left">
                            <span>审批意见</span>
                        </div>
                    </div>
                    <div class="t-FB1 t-PR t-field-multi">
                        <div>
                            <textarea class="t-textarea-field-content" id="remark" name="remark" style="line-height:1.3;padding-top: 12px" placeholder="审批意见" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{php} if( $data['end_user_id'] == $userid && $data['status'] == 1 ){ {/php}
    <div class="t-group-head t-demo-title" style="height: 0.5rem"></div>
    <div class="card-wrap" style="margin-top: 1rem;">
        <div class="t-card card-sence">
            <div><span style="font-size: 16px;">发送至群聊</span></div>
            <div class="t-card-body">
                <input type="hidden" id="cid">
                <div class="group_list">

                </div>
                <div class="demo" id="send_group" style="margin-top: 1rem;"><div style="display:inline-block;line-height:0;" class="t-icon t-svg" ><div style="position:relative;" ><svg fill="dodgerblue" name="" width="32px" height="32px" viewBox="0 0 1024 1024" ><path d="M480 480V288a32 32 0 0 1 64 0v192h192a32 32 0 0 1 0 64H544v192a32 32 0 0 1-64 0V544H288a32.64 32.64 0 0 1-32-32 32 32 0 0 1 32-32h192zm32-416a448 448 0 0 1 448 448c0 247.424-200.576 448-448 448S64 759.424 64 512 264.576 64 512 64zm0 832a384 384 0 0 0 384-384c0-212.064-171.936-384-384-384S128 299.936 128 512s171.936 384 384 384z" ></path></svg><div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask" ></div></div></div><div class="menu-title" style="margin-top: 0.3rem;">添加</div></div>
            </div>
        </div>
    </div>
{php} } {/php}
    <!-- 终审 -->
    {php} if( $data['end_user_id'] == $userid && $data['status'] == 1 ){ {/php}
    <div style="padding: 20px 5px">
        <div class="section-content" style="max-width: 414px">
            <div class="t-button-group">
                <div class="t-button t-button-secondary t-button-inline t-button-size-medium" data="end" data_val="{$data['id']}" id="reject"><span>驳回</span></div>
                <div class="t-button t-button-primary t-button-inline t-button-size-medium" data="end" data_val="{$data['id']}" id="pass"><span>同意</span></div>
            </div>
        </div>
    </div>
    {php} } {/php}
    <!-- 初审 -->
    {php} if( $data['first_user_id'] == $userid && $data['status'] == 0 ){ {/php}
    <div style="padding: 20px 5px">
        <div class="section-content" style="max-width: 414px">
            <div class="t-button-group">
                <div class="t-button t-button-secondary t-button-inline t-button-size-medium" data="first" data_val="{$data['id']}" id="reject"><span>驳回</span></div>
                <div class="t-button t-button-primary t-button-inline t-button-size-medium" data="first" data_val="{$data['id']}" id="pass"><span>同意</span></div>
            </div>
        </div>
    </div>
    {php} } {/php}    
{php} } {/php}
<script type="text/javascript">
    var  _config ={$config};
</script>
<script type="text/javascript" src="/static/logger.js"></script>
<script type="text/javascript" src="/static/dingding/config.js"></script>
<script type="text/javascript" src="/static/dingding/detail.js"></script>