<link rel="stylesheet" type="text/css" href="/static/css/mytrial.css"/>

<div role="tablist" class="t-tab-bar" tabindex="0">
    <div role="tab" aria-disabled="false" aria-selected="false" class=" t-tab-tab" data-reactid="1">
        <span id="Firsttrial" data="MY_First" data_val="我的初审">我的初审<i class="fas fa-angle-down"></i></span>
    </div>
    <div role="tab" aria-disabled="false" aria-selected="false" class=" t-tab-tab" data-reactid="1">
        <span id="search_date" data="">时间<i class="fas fa-angle-down"></i></span>
    </div> 
    <div role="tab" aria-disabled="false" aria-selected="false" class=" t-tab-tab" data-reactid="1">
        <span id="search_state" data="0">审核状态<i class="fas fa-angle-down"></i></span>
    </div>       
</div>
<script>
    $(function () {
        var now      = new Date()
        var nowYear  = now.getFullYear()
        var nowMonth = now.getMonth() + 1
        var nowDay   = now.getDate()        
        var times     = nowYear + '-' + nowMonth + '-' + nowDay
        $('#search_date').html(times + ' <i class="fas fa-angle-down"></i>');
        $('#search_date').attr("data",times);

        $('#search_date').click(function () {
            var time = nowYear + '-' + nowMonth + '-' + nowDay
            dd.ready(function () {
                dd.biz.util.datepicker({
                    format   : 'yyyy-MM-dd',
                    value    : time, //默认显示日期
                    onSuccess: function (result) {
                        $('#search_date').html(result.value + ' <i class="fas fa-angle-down"></i>')
                        $('#search_date').children().css('color', '#38adff')
                        openLinkRep(url)
                    }, onFail: function (err) {
                        alert(JSON.stringify(err))
                    }
                })
            })
        })
        $('#Firsttrial').click(function () {
            var state = $(this).attr("data_val");
            dd.ready(function () {
                dd.biz.util.chosen({
                    source     : [{
                        key  : '我的初审',
                        value: 'MY_First'
                    }, {
                        key  : '我的终审',
                        value: 'MY_End'
                    }],
                    selectedKey: state,
                    onSuccess  : function (result) {
                        $("#Firsttrial").attr("data_val",result.key)
                        $("#Firsttrial").html(result.key + ' <i class="fas fa-angle-down"></i>')
                        $("#Firsttrial").children().css('color', '#38adff')
                    },
                    onFail     : function (err) {
                        alert(JSON.stringify(err))
                    }
                })
            })
        })        
        $('#search_state').click(function () {
            var type = $(this).attr("data");
            if(type == "10" || type =="0"){
              var state = '全部'  
            }else if(type == "2"){
              var state = '通过' 
            }else if(type == "3"){
              var state = '驳回' 
            }
            
            dd.ready(function () {
                dd.biz.util.chosen({
                    source     : [{
                        key  : '全部',
                        value: '10'
                    },{
                        key  : '通过',
                        value: '2'
                    },{
                        key  : '驳回',
                        value: '3'
                    }],
                    selectedKey: state,
                    onSuccess  : function (result) {
                        $('#search_state').attr("data",result.value)
                        $('#search_state').html(result.key + ' <i class="fas fa-angle-down"></i>')
                        $('#search_state').children().css('color', '#38adff')
                    },
                    onFail     : function (err) {
                        alert(JSON.stringify(err))
                    }
                })
            })
        })

    })
</script>
