<link rel="stylesheet" type="text/css" href="/static/css/mytrial.css"/>
<div role="tablist" class="t-tab-bar" tabindex="0">
    <div role="tab" aria-disabled="false" aria-selected="false" class=" t-tab-tab" data-reactid="1">
        <span id="Firsttrial" data="{$First_trial.data}" data_val="{$First_trial.data_val}">{$First_trial.data_val}<i class="fas fa-angle-down"></i></span>
    </div>
    <div role="tab" aria-disabled="false" aria-selected="false" class=" t-tab-tab" data-reactid="1">
        <span id="search_date" data="{$date}">{if condition="($date)"}{$date}{else /}时间{/if}<i class="fas fa-angle-down"></i></span>
    </div> 
    <div role="tab" aria-disabled="false" aria-selected="false" class=" t-tab-tab" data-reactid="1">
        <span id="search_state" data="{$status}">{:Mytrial_Status($status)}<i class="fas fa-angle-down"></i></span>
    </div>       
</div>
{if condition="(!empty($data_list))"}
    {volist name="data_list" id="val"}
<div class="card-wrap link " style="margin-top: 10px" data-url="/Approval_detail?trial={$First_trial.data}&id={$val.id}">
    <div class="t-card card-sence">
        <div class="t-card-header">
            <div class="t-avatar" style="width:40px;height:40px;line-height:40px;font-size:14px;position:relative;background-color:#5EC9F6;">{:splitName($val['name'])[1]}</div>
<!--            <img class="card-avatar" src="https://work.alibaba-inc.com/photo/WB217531.jpg?" alt="avatar">-->
            <div class="card-header-text"><span class="card-username">{$val.name}</span><span class="card-date">{$val.create_date}</span></div>
        </div>
        <div class="t-card-body">
            <div class="card-title">{$val.event_name}</div>
            <p class="card-desc">{$val.event_desc}</p>
        </div>
        <div class="t-card-footer">
            <div class="card-footer-meta">
                <span class="card-footer-meta-item">
                    <span class="card-eye-count">{$val.date}</span>
                </span>
                <span class="card-footer-meta-item">
                    <span class="card-like-count"></span>
                </span>
            </div>
            <div class="card-footer-extra" {if condition="($val.status == 2)"} style="color: #5EC9F6"{/if}>{:Mytrial_Status($val.status)}</div>
        </div>
    </div>
</div>
<div class="t-group-head t-demo-title" style="height: 0.5rem"></div>
{/volist}
{else /}
<div style="line-height: 40px;border-top: none;color: #999;font-size: 14px;text-align: center">暂无数据</div>
{/if}
<script type="text/javascript" src="/static/dingding/mytrial.js"></script>
