{include file="public/header" /}
<link rel="stylesheet" href="/static/css/info.css">
<div class="demo2-t-list-wrap" style="height: 100%;">
	<div class="t-FBH t-FBAC" style="height: 100%;">
		<div class="t-FBH t-FB1" style="height: 100%;">
			<div class="demo2-t-list-img-wrap" style="width: 100%;">
				<img src="https://img.alicdn.com/tps/TB1mKYuJFXXXXbFXpXXXXXXXXXX-375-140.png"  class="demo2-t-list-img" >
			</div>
		</div>
	</div>
	<div class="t-FBH demo3-t-list-title">
		<div class="t-FB1" >
			<p class="demo2-t-list-title-content t-omit titles" >{$info.title}</p>
		</div>
	</div>
	<div class="t-FBH demo3-t-list-title">
		<div class="t-FB1" >
			<p class="demo2-t-list-title-content t-omit" >{$info.desc}</p>
		</div>
	</div>	
	<div class="t-FBH demo3-t-list-title">
		<div class="t-FB1" >
			<span class="demo2-t-list-time" style="color:red" >{$info.price}</span>福分
		</div>
	</div>	
	<div class="t-FBH demo3-t-list-title">
		<div class="t-FB1" >
			{if condition="($info.is_total eq 1)"}
			<p class="demo2-t-list-title-content t-omit" >库存{$info.total}</p>
			{/if}
		</div>

<div class="line">
	<div class="t-number-picker" style="width:108px;">
		<div class="rc-input-number showNumber rc-input-number-focused">
			<div class="rc-input-number-handler-wrap">
				<span unselectable="unselectable" role="button" aria-label="Increase Value" aria-disabled="true" class="rc-input-number-handler rc-input-number-handler-up rc-input-number-handler-up-disabled" >
					<div style="display:inline-block;line-height:0;" class="t-icon t-svg" >
						<div style="position:relative;" >
							<svg name="plus-thin" fill="#f37372" width="14" height="14" viewBox="0 0 32 32" >
								<path d="M17 15V2h-2v13H2v2h13v13h2V17h13v-2H17z" ></path>
							</svg>
							<div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask" id="jia">
								
							</div>
						</div>
					</div>
				</span>
				<span unselectable="unselectable" role="button" aria-label="Decrease Value" aria-disabled="false" class="rc-input-number-handler rc-input-number-handler-down " >
					<div style="display:inline-block;line-height:0;" class="t-icon t-svg" >
						<div style="position:relative;">
							<svg name="minus-thin" fill="#f37372" width="14" height="14" viewBox="0 0 32 32" >
								<path d="M2 15h28v2H2z"></path>
							</svg>
							<div style="position:absolute;top:0;left:0;width:100%;height:100%;" class="t-icon-mask" id="jian">
								
							</div>
						</div>
					</div>
				</span>
			</div>
			<div class="rc-input-number-input-wrap" role="spinbutton" aria-valuemin="-9007199254740991">
				<input class="rc-input-number-input" data-id="{$info.id}" id="number" value="1" disabled="disabled">
			</div>
		</div>
		<div class="reference" >
				</div>
			</div>
		</div>
	</div>	
</div>
<div class="container-fluid">
    <nav class="navbar fixed-bottom nav"  style="padding-bottom: 0px;width: 100%;">
		<div class="t-button t-button-minor t-button-normal t-button-size-medium nav" style="padding-bottom: 0px;width: 100%;margin:0px">
			<span id="duihuan" style="cursor:pointer" class="btn_show">立即兑换</span>
		</div>
    </nav>
</div>
 <div id="mask"></div>
 <div class="popup">
      <button class="btn_close">x</button>
	  <div style="width:100%;margin-top: 10%;height: 7.4rem;text-align: center;line-height:7.4rem">
			  <div style="width:100%;height: 2rem;text-align: center;line-height:2rem;font-weight:700;">
						确认兑换
			  </div>	  	
			  <div style="width:100%;height: 5.4rem;text-align: center;line-height:5.4rem">
						<span id="fufen" style="color:red">0</span>福分
			  </div>			  
	  </div>
	  <div class="t-button t-button-minor t-button-normal t-button-size-medium" style="padding-bottom: 0px;width: 100%;margin:0px;border-left:none;border-right:none; border-bottom:none;">
		<span id="dui" style="cursor:pointer" action="1">立即兑换</span>
	  </div>
 </div>

<script>
	$(function(){

		$("#jian").click(function(){
			     var num = $("#number").val();

			     var nums=num*1 - 1;

			     if(nums > 0){
			     	$("#number").val(nums);
			     }
		})
		$("#jia").click(function(){

			     var num = $("#number").val();

			     var nums=num*1 + 1;

			     $("#number").val(nums);

		})	

	  $('.btn_show').click(function() {
	  	    Against();
	  	   $(".container-fluid").hide();
	  	   
		   $('#mask').css({
			   display: 'block',
			   height: $(document).height()
		   })

		   var $Popup = $('.popup');

		   $Popup.css({

				   width:"90%",
				   left: "5%",
				   top: ($(window).height() - $Popup.height()) / 2 + $(window).scrollTop() + 'px',
				   display: 'block'

		   })
	  })
	  
	  $('.btn_close').click(function() {

	  	 $(".container-fluid").show();
	     $('#mask,.popup').css('display', 'none');

	  })

	  function Against(){
	  	 var num = $("#number").val();
	  	 var id  = $("#number").attr("data-id");
	  	 var send = {id:id,num:num};
	  	 $.post("/testing",send,function(msg){
	  	 	var msg = JSON.parse(msg);
	  	 	if(msg.errmsg == "G_ok"){
	  	 		if(msg.errcode == 200){
	  	 			$("#fufen").text(msg.data.balance);
	  	 		}else{
	  	 			$("#fufen").text(msg.data.balance);
	  	 			$("#dui").text(msg.data.msg);
	  	 			$("#dui").attr("action","0");
	  	 		}
	  	 	}
	  	 })
	  }

	  var data = "";

	  $("#dui").click(function(){
		  	   var action = $(this).attr("action");
		  	   var num = $("#number").val();
		  	   var id  = $("#number").attr("data-id");
		  	   if(action!=0){
				dd.ready(function () {
	               dd.device.notification.showPreloader({
	                   text     : '订单提交中',
	                   showIcon : true,
	                   onSuccess: function (result) {
	                   	sync_begin();
	                   },
	                   onFail   : function (err) {}
	               })
			     })  		  	   	
		  	   	 var send = {id:id,num:num}
		  	   	 $.post("/inserrecord",send,function(msg){
		  	   	 	var msg = JSON.parse(msg);
		  	   	 	if(msg.errmsg == "G_ok" && msg.errcode == "200"){
						dd.ready(function () {
                            dd.device.notification.hidePreloader({
                                onSuccess: function (result) {},
                                onFail   : function (err) {}
                            })
					     }) 		  	   	 		
		  	   	 		window.location.href="/exchange/record?dd_nav_bgcolor=FF5E97F6";
		  	   	 	}
		  	   	 })
		  	   }	  



	  })

	})	
</script>

