<style type="text/css">
#container {
width:100%;
margin:0 auto;
margin-top:10px;
padding-right:3px;
position:relative;
}
#leftContent {
position:absolute;
top:4px;
left:4px;
}
#leftContent img{
height:100px;
width:30%;
border:1px solid #ccc;
padding:2px;
border-radius:5px;
}
#rightContent {
margin-left:120px;
}
</style>
<div id="container">
	<div id="leftContent">
		<img src="https://img.alicdn.com/tps/TB1mKYuJFXXXXbFXpXXXXXXXXXX-375-140.png">
	</div>
<div id="rightContent">
	  900福分
</div>
</div>
</div>